.App {
  text-align: center;
  background-color: #232931;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #232931;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.debug {
    border: 3px solid black;
}

.left_view {
  width: 100%;
  border: 1px solid black;
}

.right_view {
  float: right;
  width: 25%;
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
}

.background {
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  /* z-index: -1; */
}

.center-me {
  position: absolute;
}